<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="mailid" value="raviraj7p7@gmailcom" />
		<add key="password" value="Holzoo@16" />
	</appSettings>
  <specFlow>
    <plugins>
      <add name="SpecFLow.Plus.Excel" type="Generator"/>
    </plugins>
  </specFlow>
  
</configuration>


